.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #E5FAF8;
}

.nav-link {
    font-weight: bold;
}

li {
    cursor: pointer;
}

.icon-bar {
    background: #516FCA;
}

.dropdown-toggle img{
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    color: #516FCA;
    font-size: 2.5rem;
}
