.jumbotron{
	background-image: url("/assets/bg.jpg");
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}
.center {
    text-align: center;
}
.center h1 {
    font-family: 'Pacifico', cursive;
    color: #516FCA;
    margin-bottom: 25px;
}
.search-box {
    float: left;
}

.blogs-wrapper {
    width: 100%;
}

.container {
    margin-bottom: 50px;
}