<app-navbar></app-navbar>
<h1>This application is currently updating. 
  Happy you reached here 😃, Hang on tight!😎</h1>
<div class="jumbotron">
  <div class="center">
    <h1>BlogIt</h1>
    <p>The World's Best Bloggin Platform.😅</p>
    <!-- <p><a class="btn btn-primary btn-lg" role="button" ui-sref="login">Learn more</a></p> -->
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="lds-ellipsis" *ngIf="loading">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
      <div *ngIf="!loading">
          <h1 style="margin-left: 15px;">Latest Posts</h1>
          
          <!-- Search Box -->
          <!-- <div class="search-box">
            <input type="text" placeholder="Search">
          </div> -->

          <hr>

          <div class="blogs-wrapper">
              <app-blog-card *ngFor="let blog of blogs" [blog]=blog></app-blog-card>
              <app-blog-card *ngFor="let blog of blogs" [blog]=blog></app-blog-card>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>