<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
			<form>
				<h2>Login</h2>
				<hr/>
				<div class="row">
					<div class="col-cs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="email" [(ngModel)]="user.email" name="email" class="form-control input-md" placeholder="Email" tabindex="1" required>
						</div>
					</div>
					<div class="col-cs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="password" [(ngModel)]="user.password" name="password" class="form-control input-md" placeholder="Password" tabindex="2" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8">
						<div class="form-group">
							<a routerLink="/signup">
								Not Registered? Create an Account
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="form-group">
							<button *ngIf="!loading" (click)="login($event)" class="btn btn-primary btn-block btn-md" tabindex="6">Login</button>
							<div class="lds-ellipsis" *ngIf="loading">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8">
						<p *ngIf="!loading" class="warning">{{ warningMessage }}</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<app-footer></app-footer>