.blog-card {
    width: 350px;
    height: 300px;
    background: #365196; 
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 100px;
}

.blog-card-header {
    width: 100%;
    background: #35C8E9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.blog-card-content {
    width: 100%;
    border-radius: 5px;
    background: #43588b;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
}

.blog-card-links a{
    float: right;
    text-decoration: none;
    color: white !important;
}