.blog-card {
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-areas: 
    "text image";
    grid-gap: 10px;
}

@media screen and (max-width: 999px) {
    body {
      background-color: blue;
    }
    .blog-card {
      display: block;
      margin-bottom: 20px;
    }
    
  }

.blog-card-text {
    grid-area: text;
    text-align: justify;
    font-size: 16px;
}

.blog-image {
    grid-area: image;
}

.blog-text-header h4 {
    font-weight: 700;
}

.blog-details p {
    color: #939393;
    font-size: 12px;
}

.blog-image img {
    max-width: 100%;
}

.blog-card-link a{
    text-decoration: none;
    color: blue !important;
}