.wrapper {
  margin: 24px 50px 0px 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
}

.blog-editor {
  padding: 10px;
}

.blog-preview img{
  max-width: 100%;
}

.header-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.header-image img {
  width: 100%;
  cursor: pointer;
}

.header-image button {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}

@media screen and (max-width: 1050px) {
  .wrapper {
    display: block;
  }
}