<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 ">
      <form>
        <h2>Create an account</h2>
        <hr/>
        <!--first name and last nam-->
        <div class="row">
          <app-profile-image-uploader 
          [url]="user.photoUrl"
          (setPhotoUrl)="setPhotoUrl($event)">
        </app-profile-image-uploader>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" [(ngModel)]="user.firstName" name="firstname" class="form-control input-md" placeholder="First Name" tabindex="1" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" [(ngModel)]="user.lastName" name="lastname" class="form-control input-md" placeholder="Last Name" tabindex="2" required>
            </div>
          </div>
        </div>
        <!--email-->
        <div class="form-group">
            <input type="email" [(ngModel)]="user.email" name="email" class="form-control input-md" placeholder="Email Address" tabindex="3" required>
        </div>
        <!--Password-->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control input-md" placeholder="Password" tabindex="4" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control input-md" placeholder="Confirm Password" tabindex="5" required>
            </div>
          </div>
        </div>
        <!--Buttons-->
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <a routerLink="/login">
                Already registered? Login
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <button type="submit" *ngIf="!loading" (click)=signup() class="btn btn-primary btn-block btn-md" tbindex="6">Register</button>
            <div class="lds-ellipsis" *ngIf="loading">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8">
						<p *ngIf="!loading" class="warning">{{ warningMessage }}</p>
					</div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>