/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
body {
    font-family: 'Roboto', sans-serif;
}

/* Home Component Starts*/

.blogs-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.navbar {
    width: 100%;
}

.jumbotron {
    width: 100%;
}

/* Home Component Ends */

/* Media Queries */

@media only screen and (max-width: 1000px) {
    .blogs-wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr; 
    }
}

@media only screen and (max-width: 768px) {
    .blogs-wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
}