.jumbotron{
	background-image: url("/assets/bg.jpg");
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}
.center {
    text-align: center;
}
.search-box {
    float: left;
}

