.wrapper {
  margin: 24px 50px 0px 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
}

.blog-editor {
  padding: 10px;
}

@media screen and (max-width: 1050px) {
  .wrapper {
    display: block;
  }
}